build
build-ncc
node_modules
.vscode
dist
.turbo
packages/nne-codemods/src/index.ts
packages/nne-codemods/src/codemods/**/*.ts
packages/nne-codemods/src/codemods/**/*.js
packages/nne-codemods/src/codemods/**/*.yml
